!baselines/
baselines/**/__pycache__/



catboost_info/

# Dataset directory - keep directory but ignore contents
dataset/*
!dataset/.gitkeep

final_result/*
!final_result/heatmap/
final_result/heatmap/*
!final_result/heatmap/nytimes/
final_result/heatmap/nytimes/*
!final_result/heatmap/nytimes/partial/
final_result/heatmap/nytimes/partial/*
!final_result/heatmap/nytimes/partial/ref/


log/*
!log/.gitkeep

model/*
!model/.gitkeep

result/*
!result/.gitkeep

scripts/.DS_Store

# Keep all files in src except __pycache__
!src/
src/**/__pycache__/
src/.DS_Store

**/.DS_Store
